desktop.ini
.Rproj.user
.Rhistory
.RData
/TestData/*
/Grafiken/*
Rprofile.site
R_Code/*.RData
/Rcheck/*
/INWTLive.Rcheck/*
*.so
*.o
*.dll
core
/Dokumentation/*.acn
/Dokumentation/*.acr
/Dokumentation/*.alg
/Dokumentation/*.aux
/Dokumentation/*.bbl
/Dokumentation/*.blg
/Dokumentation/*.dvi
/Dokumentation/*.fdb_latexmk
/Dokumentation/*.glg
/Dokumentation/*.glo
/Dokumentation/*.gls
/Dokumentation/*.idx
/Dokumentation/*.ilg
/Dokumentation/*.ind
/Dokumentation/*.ist
/Dokumentation/*.lof
/Dokumentation/*.log
/Dokumentation/*.lot
/Dokumentation/*.maf
/Dokumentation/*.mtc
/Dokumentation/*.mtc0
/Dokumentation/*.nav
/Dokumentation/*.nlo
/Dokumentation/*.out
/Dokumentation/*.pdfsync
/Dokumentation/*.ps
/Dokumentation/*.snm
/Dokumentation/*.synctex.gz
/Dokumentation/*.toc
/Dokumentation/*.vrb
/Dokumentation/*.xdy
/Dokumentation/*.tdo